header {
    .background {
        background-color: #1B2537;
        height: 235px;
        width: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 1537px;
        margin-left: -9px;
        margin-top: -9px;
        margin-right: 228px;
    }

}

.logo img {

    margin-left: 518px;
    margin-top: -219px;
    margin-right: auto;
    width: 26%;
    height: 167px;
    transform: scale(1.5);
    /*phong to*/

}

// .red {
//     border: 1px solid red;
// }