.toggle {
    img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
}

.Thanhduyvat,
.vukhi,
.Materials,
.team {
    img {
        width: 1em;
        height: 1em;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 300vh;
    background: #2D1522;
}

.menu {
    position: relative;
    width: 600px;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    li {
        position: absolute;
        left: 0;
        list-style: none;
        transform-origin: 300px;
        transition: 0.5s;
        transition-delay: calc(0.1s*var(--i));
        transform: rotate(0deg) translateX(240px);
    }
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    transform: rotate(calc(360deg/-7*var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #111;
    transition: 0.5s;
    font-size: 3em;
}

.menu li a :hover {
    color: #ff1252;
}

.menu.active li {
    transform: rotate(calc(360deg/7*var(--i)));
}

.toggle {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    font-size: 6em;
    transition: transform 1.25s;
}



.menu.active.toggle {
    transform: rotate(315deg)
}

header {
    .back_button a {
        position: absolute;
        left: 60px;
        top: 20px;
        font-size: 50px;
        color: rgb(207, 207, 221);

    }

    // .menuontop img {
    //     width: 636px;
    //     height: 248px;
    //     position: absolute;
    //     top: 20px;
    //     /* vertical-align: middle; */
    //     /* max-width: 100%; */
    //     right: 451px;
    // }
}