* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    .header {
        background-color: #131921;


        nav {
            display: flex;
            justify-items: center;
            justify-content: space-between;
            list-style: none;

            margin-left: 228px;

        }

        .subheader li {
            list-style: none;
        }

        .subheader {
            position: absolute;
            background-color: #131921;
            padding: 8px 0px;
            list-style: none;
            width: 200px;
            display: flex;

        }

        li:hover .subheader {
            display: block;
        }



        // .subheaderc2 {
        //     display: none;
        // }

        // .libefore:hover .subheaderc2 {
        //     display: block;
        // }

        .subheader a {
            padding: 8px 15px;
            border-bottom: 1px solid #5a5959;

        }

        .subheader li:last-child a {
            border: none;
        }

        .header_content li a {
            display: block;
            color: #f8f8f8;
            padding: 18px 20px;
            text-decoration: none;

        }



        .header_content li a:hover {
            border-bottom: 1px solid #f8f8f8;
        }

        .logo {
            margin-top: 20px;


            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                border: 10px solid red($color: #db0909);
            }
        }

        .header_content {
            display: flex;
        }



    }
}