* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(60deg, #FCFCFC, #D4DAD6);
}

.content {
    div {
        text-align: center;
        padding: 20px 20px;
        font-size: 20px;
    }
}