* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.note {
    margin-top: 100px;
    margin-left: 500px;
    right: 500px;
    font-size: 100px;
    color: cornflowerblue;
    text-transform: uppercase;
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;

}

body {
    background-color: #1B1B1B;

    .contentcrimson {}
}

.container {
    color: white;
    font-size: 30px;
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;

}